
              .main-footer{padding:5px;}
              
              .skin-blue .sidebar a{
                 //color: #7f7f7f; 
                 font-size: 15px;
                 font-weight:550;
              }
              
              .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), 
              .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
                color: #7f7f7f;
                //background-color: #FAE1A9;
            }
            
            .skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
               // color: #7f7f7f;
                //background-color: #FAE1A9;
                border-left-color: #3c8dbc;
            }
            
            
             
              table.dataTable thead .sorting::after
              {
                 opacity: 0.8 !important; 
              }
              
              table.dataTable thead .sorting::after, 
              table.dataTable thead .sorting_asc::after, 
              table.dataTable thead .sorting_desc::after, 
              table.dataTable thead .sorting_asc_disabled::after, 
              table.dataTable thead .sorting_desc_disabled::after 
              {
                opacity: 0.8 !important; 
              }
              
            .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
                //background-color: #FAE1A9;
            }  
              
/*            table.cruises { 
              font-family: calibri, verdana, arial, helvetica, sans-serif;
              font-size: 14px;
              cellspacing: 0; 
              border-collapse: collapse; 
              //width: 535px;    
              }*/
              
/*            table.cruises th, table.cruises td { 
              border-right: 1px solid #999; 
              border-bottom: 1px solid #999; 
              }
              
              
              
            table.cruises th {
                              background-color: #9bbb59; 
                              font-family: calibri, verdana, arial, helvetica, sans-serif;
                              font-size: 14px;
                              font-weight: strong;
                              color: #fff;
                             }
            table.cruises tfoot th{color: #000;}                 
            table.cruises td { background-color: #fff; }*/
            
            
            table.modules { 
              font-family: calibri, verdana, arial, helvetica, sans-serif;
              font-size: 14px;
              cellspacing: 0; 
              border-collapse: collapse; 
              //width: 535px;    
              }
              
            table.modules th, table.modules td { 
              border-right: 1px solid #F2F2F2; 
              border-bottom: 1px solid #F2F2F2; 
              }
              
              
              
            table.modules th { background-color: #9bbb59; 
                              font-family: calibri, verdana, arial, helvetica, sans-serif;
                              font-size: 14px;
                              font-weight: strong;
                              color: #fff;
                             }
            table.modules td { background-color: #fff; }
            
            

            div.scrollableContainer { 

              }
              
            div.scrollingArea { 
              height: 500px; 
              //overflow: auto; 
              }

/*            table.scrollable thead tr {
              left: 0; top: 0;
              position: absolute;
              }*/
          
          .skin-blue .main-header .navbar {
                background-color: #4bacc6;
            }
            
        .skin-blue .main-header .logo {
            background-color: #4bacc6;
            text-align: left;
            line-height: 45px;
            font-weight: 400;
        }
        
        .qc{
            color:#fff; 
            font-size:23px;
            font-weight: bold;
            font-family: calibri, verdana, arial, helvetica, sans-serif;
            margin-top:8px;
            margin-left:5px;
        }

          
        .mainimage{
            display: block;
            margin-left:auto;
            margin-right:auto;
            margin-top:3%;
        }  
