<ul class="sidebar-menu">
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-users"></i>
            <span>Medical system</span>
        </a>
        <ul class="treeview-menu">

             <li class="">
                <a href="{{path('patient')}}">
                  <i class="fa fa-book"></i>                       
                    <span>Patients</span>
                    
                </a>
            </li>    
            
             <li>
                <a href="{{path('medicament')}}">
                  <i class="fa fa-book"></i>   
                  <span>Medicine</span>          
                </a>
              </li> 
              
             <li>
                <a href="{{path('consultation')}}">
                  <i class="fa fa-book"></i>   
                  <span>Consultations</span>          
                </a>
              </li>                
        </ul>
    </li>
</ul>